container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.form{
  background: LightGrey;
  margin: 75px auto;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 300px;
  border: 2px solid black;
}

.form form{
  text-align: center;
}

h1{
  text-align: center;
}
