<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="template_style.css">
    <title> Home </title>
  </head>
  <body>
    <header>
      <h1><%= main_header %></h1>
      <nav>
        <a href="#" id="onpage">Home</a>
        <a href="#">News</a>
        <a href="#">About</a>
        <a href="adminauth.html">Admin</a>
      </nav>
    </header>

    <div class="page_content">
      <div class="main_content">
        <h2><%= content_header %></h2>
        <p><%= main_content %></p>
      </div>

      <div class="side_bar">
        <h3><%= side_header %></h3>
        <ul>
          <%= for(var i = 0; i<side_link_names.length; i++){ %>
          <li><%= link_to(side_link_names[i], side_link_addresses[i]) %></li>
          <%= } %>
        </ul>

      </div>
    </div>

    <footer>
      <p>Template made by Neil</p>
    </footer>
  </body>
</html>
