<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/template_style.css">
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/auth">Admin</a>
      </nav>
    </header>

    <div class="page_content">
      <div class="main_content">
        <h2>Main Content</h2>
        <p><%= main_content %></p>
      </div>

      <div class="side_bar">
        <h3>Fun Links</h3>
        <ul>
          <li><a href="#">Google</a></li>
          <li><a href="#">Yahoo</a></li>
          <li><a href="#">Apple</a></li>
        </ul>

      </div>
    </div>

<% include includes/footer.ejs %>
