<% include includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/assets/content-tools.min.css">
  <link rel="stylesheet" href="/stylesheets/template_style.css">
  <title>
    <%= title %>
  </title>
  </head>

  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/">Pages</a>
        <a href="/auth">Admin</a>
      </nav>
    </header>

    <div class="page_content">
      <div class="main_content" data-name="main_content">
        <%- main_content %>
      </div>

      <div class="side_bar">
        <h3>Fun Links</h3>
        <ul>
          <li><a href="#">Google</a></li>
          <li><a href="#">Yahoo</a></li>
          <li><a href="#">Apple</a></li>
        </ul>

      </div>
    </div>
    <script>
      var pageId = "<%= _id %>"
    </script>

    <% include includes/footer.ejs %>