html{
  font-family: georgia;
}

body{
  margin: 0;
}

header{
  background-color: #001f3f;
  height: 75px;
}

header nav{
  float: right;
  margin-top: 25px;
  margin-right: 50px;
}

header nav a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 25px 30px;
}

header nav a:hover, #onpage{
  background-color: #004d99;
}

h1{
  display: inline-block;
  color: white;
  margin-left: 50px;
  //TODO fix top margin
}

.page_content{
  display: grid;
  grid-template-columns: 50% 50%;
}

.form{
  background: LightGrey;
  margin: 75px auto;
  width: 250px;
  height: 250px;
  padding: 20px;
  border-radius: 300px;
  border: 2px solid black;
}

.form form{
  text-align: center;
}

h1{
  text-align: center;
}

footer{
  background-color: #202020;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 50px;
}

footer p{
  margin: 15px auto 0px auto;
  color: white;
}

.auth-error{
  width: 200px;
  height: 50px;
  background: grey;
  color: red;
  border: 1px solid red;
}
